.navbar.navbar-expand-lg.bg-body-tertiary{
    position: sticky;
   top: 0%!important;
   z-index: 100;
}


 div#Nav.logo{
    
    display: flex;
    /* justify-content: start; */
    margin-left: 30px;
}
.container{
    width: 50%;
    height: 50vh;
   
    margin: auto;
}
.left-box{
    width: 30%;
    height: 50%;
 
    float: left;
}
.left-box .small-img {
    width: 100%;
    height: 50%;
    border: 1px solid blue;
}
.small-img img{
    height: 100%;
    width: 50%;
    object-fit: contain;
}


.right-box{
    width: 68%;
    height: 100%;
    float: left;
    /* margin-left: 0%; */
    border: 1px solid blue;
    box-sizing: border-box;
}
.right-box img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    
} 


/* ======================================================= */
.container{
    width: 100%;
    /* width: 80%;
    overflow: hidden; */
   
}
.item-box{
    width: 15%;
    height: 400px;
    float: left;
    margin-bottom: 20px;
}

.item-box .img-box{
    width: 100%;
    height: 65%;
    float: left;
    background-color: yellow;
    position: relative;
}
.item-box .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-box .img-box .discout{
    position: absolute;
    top: 5px;
    left: 0;
    padding: 10px 15px;
    font-size: 1.2rem;
    background-color: rgba(214, 15, 18, 0.738);
    border-radius: 30px;
    cursor: pointer;
    color: #deadad;
}
/* .item-box .img-box .discout :hover{
    width: 17%;
    height: 406px;
} */
.item-box .txt-box{
    width: 100%;
    height: 40%;
    float: left;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
    display: block;
}
.item-box .txt-box h1{
    font-size: 1.2rem;
    color: rgb(16, 16, 16);
}
.item-box .txt-box del{
    font-size: 1.1rem;
    color: red;
}
.item-box .txt-box p{
    font-size: 1.1rem;
    color: green;
}



/* ======================================= */
.N1{
    margin: 10px;
  
}
.btn.btn-secondary{
     padding: 15px;
     margin: 2px;
}

/* ===============================Contanier1========================= */
.container-fluid1{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 25rem;
    font-size: 20px !important;
}
.container1{
    width: 80%;
    margin: auto;
}
.title-box{
    width: 70%;
    padding: 20px;
}
.title-box h1{
    text-transform: uppercase;
    font-size: 2.5rem;
    color: rgb(35, 30, 30);
}
.title-box h5{
    font-size: 1.2rem;
    color: rgb(12, 10, 10);
    margin-top: 15px;
}
.container1 .item-box{
    width: 100%;
    height: 500px;
    margin-top: 3.5rem;
    float: left;
}
.container1 .item-box .box{
    width: 24%;
    height: 100%;
    float: left;
    margin-left: 1%;
    
}
.container1 .item-box .box:nth-child(1){
    margin: 0;
    width: 25%;
}
.container1 .item-box .box .img-box{
    width: 100%;
    height: 90%;
}
.container1 .item-box .box .img-box img{
    transition: 0.3s linear;
}
.container1 .item-box .box .img-box:hover img{
    transform: scale(1.1);
}
.container1 .item-box .box .txt-box{
    width: 100%;
    height: 10%;
    text-align: center;
    
}
.container1 .item-box .box .txt-box h1{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    color: rgb(11, 8, 8);
    cursor: pointer;
    text-decoration: underline;
}
.container1 .item-box .box .txt-box h1.active{
    color: gold;
}
/* =========================service-box============================== */
.service-box{
    height: 100%;
    padding: 60px 30px;
    text-align:center;
    transition: 5s;
    border-radius:5px;
    cursor: pointer;
    box-shadow: 0px 0 30px rgba(1,41,112,0.08);
}
.service-box:hover{
    transform: scale(1.1);
}
.service-box:hover .fa-solid{
    color: #37517e;
}
.fa-solid{
    background-color: rgb(206, 197, 197);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    color: rgb(240, 245, 249);
    transition: color.5s;
}